body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #404bbf;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  letter-spacing: 0.02em;
  color: #2e2f42;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.071;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

p {
  letter-spacing: 0.02em;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-bar {
  display: flex;
  align-items: center;
  gap: 76px;
}

.header-bar__nav {
  flex-grow: 1;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1666;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  text-decoration: none;
}

.logo--dark {
  color: #f4f4fd;
}

.logo__accent {
  color: #4d5ae5;
}

.nav-bar {
  display: flex;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contact-bar {
  display: flex;
  gap: 40px;
}

.contact-link {
  display: block;
  padding: 24px 0;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.section {
  padding: 120px 0;
}

.hero-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("/images/hero.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1440px;
  padding: 188px 0;
}

.hero-banner__title {
  display: block;
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-banner__button {
  display: block;
  padding: 16px 32px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
}

.page-title {
  text-align: center;
  color: #ffffff;
}

.team-section {
  background-color: #f4f4fd;
}

.section-title {
  text-align: center;
  margin-bottom: 72px;
}

.feature-list {
  display: flex;
  gap: 24px;
}

.feature-list > li {
  width: calc((100% - 24px * 3) / 4);
}

.feature-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}

.feature-title {
  margin-bottom: 8px;
}

.team-member-list {
  display: flex;
  gap: 24px;
}

.team-member {
  width: calc((100% - 24px * 3) / 4);
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
}

.team-member__photo {
  width: 100%;
}

.team-member__plague {
  padding: 32px 16px;
}

.team-member__name,
.team-member__position {
  text-align: center;
  margin-bottom: 8px;
}

/* .team-member__name {
} */

.team-member__socials {
  display: flex;
  justify-content: space-between;
}

.team-member__social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.team-member__social-link-icon {
  display: block;
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-project {
  width: calc((100% - 24px * 2) / 3);
}

.portfolio-project__thumb {
  width: 100%;
}

.portfolio-project__plague {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-project__title {
  margin-bottom: 8px;
}

.page-footer {
  padding: 100px 15px;
  background-color: #2e2f42;
  color: #f4f4fd;
}

.page-footer-container {
  display: flex;
  gap: 120px;
}

.page-footer__section-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.page-footer__logo {
  display: block;
  margin-bottom: 16px;
}

.page-footer__text {
  max-width: 264px;
}

.page-footer__socials {
  display: flex;
  gap: 16px;
}

.page-footer__social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.page-footer__social-link-icon {
  display: block;
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
